<% include ../partials/header %>

<h1>Admin Page</h1>

<p>tabel kondisi stok</p>

<ul>
    <li><a href="/admin/order/new">Buat Pesanan baru</a></li>
    <li>Daftar Pesanan</li>
    <li>Tambah Rasa</li>
</ul>