<h1>Menu Page</h1>

Daftar Menu

<ul>
    <%menus.forEach(function(menu){%>
        <li>
            <%=menu.emoji%> - <%=menu.name%> - <%=menu.stock%>
        </li>
    <%})%>
</ul>
<a href="/admin/menu/new">Submit New Menu</a>