<h1>Submit New Menu</h1>

<form action="/admin/menu" method="POST">
    <input type="text" name="menu[name]" placeholder="Nama Menu">
    <input type="text" name="menu[emoji]" placeholder="Choose emoji">
    <label for="stock"></label>
    <input type="number" name="menu[stock]" id="stock" value="0">
    <button>submit</button>
</form>