<% include partials/headerNoNav %>

<div class="container">
    <div class="row text-center">
        <h1>RoyalPOS</h1>
        <div class="col-md-12">
            <form action="/login" method="post">
                <div class="input-group col-md-12">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="input-group col-md-12">
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
            </form>

            <a class="btn btn-primary" href="/admin">Go To Admin Page</a>

            <a class="btn btn-default" href="#">Go To Customer Area</a>
        </div>
        
    </div>
</div>





<% include partials/footer %>