<h1>Login Home page</h1>

<form action="" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
</form>

<a href="/admin">Go To Admin Page</a>

<a href="#">Go To Customer Area</a>